body {
  font-family: 'Rationale', sans-serif;
  font-size: 16px;
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 2.5em;
  background-color: black;
  color: white;
}

button {
  font-family: inherit;
  font-size: 2em;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding-top: 5px;
  border-radius: 10px;
  border: none;
  color: white;
  text-shadow: 2px 2px #333, -1px -1px 1px #333;
}

.container2 {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.calculator {
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(255,255,255,1) 4%,rgba(22,22,22,1) 22%,rgba(17,17,17,1) 39%,rgba(17,17,17,1) 39%,rgba(44,44,44,1) 50%,rgba(71,71,71,1) 60%,rgba(71,71,71,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 99%,rgba(19,19,19,1) 100%);  border-radius: 15px;
  padding: 20px 5px;
  box-shadow: 10px 10px rgb(64, 64, 64)
}

.control-panel {
  margin: auto;
  width: 100%;
}

.number {
  background: linear-gradient(to bottom, #00ffea, #06bdb4);
  box-shadow: 3px 3px rgb(30, 131, 138);
}

.operator {
  background: linear-gradient(to bottom, #8234db, #841fbf);
  box-shadow: 3px 3px rgb(82, 19, 121)
}

.clear {
  background: linear-gradient(to bottom, #555, black);
  box-shadow: 3px 3px #444;
}

.equal {
  background: linear-gradient(to bottom, #f538a3, #bf31ac);
  box-shadow: 3px 3px rgb(126, 32, 114)
}

#current-number {
  width: 80%;
  text-align: right;
  font-size: 2em;
  margin-bottom: 10px;
  border: 2px solid #666;
  border-radius: 10px;
}
